In [35]:
import pandas as pd
df = pd.read_csv('master.csv')
import matplotlib as plt
import numpy as np

In [36]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [37]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [38]:
df.describe(include='all')

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
count,27820,27820.000000,27820,27820,27820.000000,2.782000e+04,27820.000000,27820,8364.000000,27820,27820.000000,27820
unique,101,NaN,2,6,NaN,NaN,NaN,2321,NaN,2321,NaN,6
top,Netherlands,NaN,male,35-54 years,NaN,NaN,NaN,Mauritius2006,NaN,"609,020,054,512",NaN,Generation X
freq,382,NaN,13910,4642,NaN,NaN,NaN,12,NaN,12,NaN,6408
mean,NaN,2001.258375,NaN,NaN,242.574407,1.844794e+06,12.816097,NaN,0.776601,NaN,16866.464414,NaN
std,NaN,8.469055,NaN,NaN,902.047917,3.911779e+06,18.961511,NaN,0.093367,NaN,18887.576472,NaN
min,NaN,1985.000000,NaN,NaN,0.000000,2.780000e+02,0.000000,NaN,0.483000,NaN,251.000000,NaN
25%,NaN,1995.000000,NaN,NaN,3.000000,9.749850e+04,0.920000,NaN,0.713000,NaN,3447.000000,NaN
50%,NaN,2002.000000,NaN,NaN,25.000000,4.301500e+05,5.990000,NaN,0.779000,NaN,9372.000000,NaN
75%,NaN,2008.000000,NaN,NaN,131.000000,1.486143e+06,16.620000,NaN,0.855000,NaN,24874.000000,NaN
max,NaN,2016.000000,NaN,NaN,22338.000000,4.380521e+07,224.970000,NaN,0.944000,NaN,126352.000000,NaN

In [39]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148,2556673,5.79,Uzbekistan2012,0.668,"51,821,573,338",1964,Millenials
27791,Uzbekistan,2012,female,35-54 years,89,3474788,2.56,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation X
27792,Uzbekistan,2012,male,5-14 years,67,2701361,2.48,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25,1283060,1.95,Uzbekistan2012,0.668,"51,821,573,338",1964,Boomers
27794,Uzbekistan,2012,female,75+ years,4,338557,1.18,Uzbekistan2012,0.668,"51,821,573,338",1964,Silent
27795,Uzbekistan,2012,female,5-14 years,16,2578408,0.62,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481,3346411,14.37,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27797,Uzbekistan,2013,male,25-34 years,328,2644648,12.40,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27798,Uzbekistan,2013,female,15-24 years,323,3039740,10.63,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27799,Uzbekistan,2013,male,15-24 years,320,3171202,10.09,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [40]:
# we just want to know which country has heighest rate
df_new = df[['country', 'suicides/100k pop']]

In [41]:
df_new.head()

   country  suicides/100k pop
0  Albania               6.71
1  Albania               5.19
2  Albania               4.83
3  Albania               4.59
4  Albania               3.28

In [42]:
country_name = np.array(df_new['country'])
rate = np.array(df_new['suicides/100k pop'])

In [43]:
rate

array([6.71, 5.19, 4.83, ..., 2.17, 1.67, 1.46])

In [44]:
country_name

array(['Albania', 'Albania', 'Albania', ..., 'Uzbekistan', 'Uzbekistan',
       'Uzbekistan'], dtype=object)

In [46]:
df.info

<bound method DataFrame.info of           country  year     sex          age  suicides_no  population  \
0         Albania  1987    male  15-24 years           21      312900
1         Albania  1987    male  35-54 years           16      308000
2         Albania  1987  female  15-24 years           14      289700
3         Albania  1987    male    75+ years            1       21800
4         Albania  1987    male  25-34 years            9      274300
5         Albania  1987  female    75+ years            1       35600
6         Albania  1987  female  35-54 years            6      278800
7         Albania  1987  female  25-34 years            4      257200
8         Albania  1987    male  55-74 years            1      137500
9         Albania  1987  female   5-14 years            0      311000
10        Albania  1987  female  55-74 years            0      144600
11        Albania  1987    male   5-14 years            0      338200
12        Albania  1988  female    75+ years            2       36400
13        Albania  1988    male  15-24 years           17      319200
14        Albania  1988    male    75+ years            1       22300
15        Albania  1988    male  35-54 years           14      314100
16        Albania  1988    male  55-74 years            4      140200
17        Albania  1988  female  15-24 years            8      295600
18        Albania  1988  female  55-74 years            3      147500
19        Albania  1988  female  25-34 years            5      262400
20        Albania  1988    male  25-34 years            5      279900
21        Albania  1988  female  35-54 years            4      284500
22        Albania  1988  female   5-14 years            0      317200
23        Albania  1988    male   5-14 years            0      345000
24        Albania  1989    male    75+ years            2       22500
25        Albania  1989    male  25-34 years           18      283600
26        Albania  1989    male  35-54 years           15      318400
27        Albania  1989    male  55-74 years            6      142100
28        Albania  1989    male  15-24 years           12      323500
29        Albania  1989  female  35-54 years            7      288600
...           ...   ...     ...          ...          ...         ...
27790  Uzbekistan  2012  female  25-34 years          148     2556673
27791  Uzbekistan  2012  female  35-54 years           89     3474788
27792  Uzbekistan  2012    male   5-14 years           67     2701361
27793  Uzbekistan  2012  female  55-74 years           25     1283060
27794  Uzbekistan  2012  female    75+ years            4      338557
27795  Uzbekistan  2012  female   5-14 years           16     2578408
27796  Uzbekistan  2013    male  35-54 years          481     3346411
27797  Uzbekistan  2013    male  25-34 years          328     2644648
27798  Uzbekistan  2013  female  15-24 years          323     3039740
27799  Uzbekistan  2013    male  15-24 years          320     3171202
27800  Uzbekistan  2013    male  55-74 years          119     1202790
27801  Uzbekistan  2013    male    75+ years           13      221002
27802  Uzbekistan  2013  female  25-34 years          146     2647820
27803  Uzbekistan  2013  female  35-54 years           99     3547895
27804  Uzbekistan  2013  female    75+ years            8      345180
27805  Uzbekistan  2013    male   5-14 years           61     2720938
27806  Uzbekistan  2013  female  55-74 years           21     1356298
27807  Uzbekistan  2013  female   5-14 years           31     2595000
27808  Uzbekistan  2014    male  35-54 years          519     3421300
27809  Uzbekistan  2014    male  25-34 years          318     2739150
27810  Uzbekistan  2014  female  15-24 years          347     2992817
27811  Uzbekistan  2014    male  55-74 years          144     1271111
27812  Uzbekistan  2014    male  15-24 years          347     3126905
27813  Uzbekistan  2014    male    75+ years           17      224995
27814  Uzbekistan  2014  female  25-34 years          162     2735238
27815  Uzbekistan  2014  female  35-54 years          107     3620833
27816  Uzbekistan  2014  female    75+ years            9      348465
27817  Uzbekistan  2014    male   5-14 years           60     2762158
27818  Uzbekistan  2014  female   5-14 years           44     2631600
27819  Uzbekistan  2014  female  55-74 years           21     1438935

       suicides/100k pop    country-year  HDI for year  gdp_for_year ($)   \
0                   6.71     Albania1987           NaN      2,156,624,900
1                   5.19     Albania1987           NaN      2,156,624,900
2                   4.83     Albania1987           NaN      2,156,624,900
3                   4.59     Albania1987           NaN      2,156,624,900
4                   3.28     Albania1987           NaN      2,156,624,900
5                   2.81     Albania1987           NaN      2,156,624,900
6                   2.15     Albania1987           NaN      2,156,624,900
7                   1.56     Albania1987           NaN      2,156,624,900
8                   0.73     Albania1987           NaN      2,156,624,900
9                   0.00     Albania1987           NaN      2,156,624,900
10                  0.00     Albania1987           NaN      2,156,624,900
11                  0.00     Albania1987           NaN      2,156,624,900
12                  5.49     Albania1988           NaN      2,126,000,000
13                  5.33     Albania1988           NaN      2,126,000,000
14                  4.48     Albania1988           NaN      2,126,000,000
15                  4.46     Albania1988           NaN      2,126,000,000
16                  2.85     Albania1988           NaN      2,126,000,000
17                  2.71     Albania1988           NaN      2,126,000,000
18                  2.03     Albania1988           NaN      2,126,000,000
19                  1.91     Albania1988           NaN      2,126,000,000
20                  1.79     Albania1988           NaN      2,126,000,000
21                  1.41     Albania1988           NaN      2,126,000,000
22                  0.00     Albania1988           NaN      2,126,000,000
23                  0.00     Albania1988           NaN      2,126,000,000
24                  8.89     Albania1989           NaN      2,335,124,988
25                  6.35     Albania1989           NaN      2,335,124,988
26                  4.71     Albania1989           NaN      2,335,124,988
27                  4.22     Albania1989           NaN      2,335,124,988
28                  3.71     Albania1989           NaN      2,335,124,988
29                  2.43     Albania1989           NaN      2,335,124,988
...                  ...             ...           ...                ...
27790               5.79  Uzbekistan2012         0.668     51,821,573,338
27791               2.56  Uzbekistan2012         0.668     51,821,573,338
27792               2.48  Uzbekistan2012         0.668     51,821,573,338
27793               1.95  Uzbekistan2012         0.668     51,821,573,338
27794               1.18  Uzbekistan2012         0.668     51,821,573,338
27795               0.62  Uzbekistan2012         0.668     51,821,573,338
27796              14.37  Uzbekistan2013         0.672     57,690,453,461
27797              12.40  Uzbekistan2013         0.672     57,690,453,461
27798              10.63  Uzbekistan2013         0.672     57,690,453,461
27799              10.09  Uzbekistan2013         0.672     57,690,453,461
27800               9.89  Uzbekistan2013         0.672     57,690,453,461
27801               5.88  Uzbekistan2013         0.672     57,690,453,461
27802               5.51  Uzbekistan2013         0.672     57,690,453,461
27803               2.79  Uzbekistan2013         0.672     57,690,453,461
27804               2.32  Uzbekistan2013         0.672     57,690,453,461
27805               2.24  Uzbekistan2013         0.672     57,690,453,461
27806               1.55  Uzbekistan2013         0.672     57,690,453,461
27807               1.19  Uzbekistan2013         0.672     57,690,453,461
27808              15.17  Uzbekistan2014         0.675     63,067,077,179
27809              11.61  Uzbekistan2014         0.675     63,067,077,179
27810              11.59  Uzbekistan2014         0.675     63,067,077,179
27811              11.33  Uzbekistan2014         0.675     63,067,077,179
27812              11.10  Uzbekistan2014         0.675     63,067,077,179
27813               7.56  Uzbekistan2014         0.675     63,067,077,179
27814               5.92  Uzbekistan2014         0.675     63,067,077,179
27815               2.96  Uzbekistan2014         0.675     63,067,077,179
27816               2.58  Uzbekistan2014         0.675     63,067,077,179
27817               2.17  Uzbekistan2014         0.675     63,067,077,179
27818               1.67  Uzbekistan2014         0.675     63,067,077,179
27819               1.46  Uzbekistan2014         0.675     63,067,077,179

       gdp_per_capita ($)       generation
0                     796     Generation X
1                     796           Silent
2                     796     Generation X
3                     796  G.I. Generation
4                     796          Boomers
5                     796  G.I. Generation
6                     796           Silent
7                     796          Boomers
8                     796  G.I. Generation
9                     796     Generation X
10                    796  G.I. Generation
11                    796     Generation X
12                    769  G.I. Generation
13                    769     Generation X
14                    769  G.I. Generation
15                    769           Silent
16                    769  G.I. Generation
17                    769     Generation X
18                    769  G.I. Generation
19                    769          Boomers
20                    769          Boomers
21                    769           Silent
22                    769     Generation X
23                    769     Generation X
24                    833  G.I. Generation
25                    833          Boomers
26                    833           Silent
27                    833  G.I. Generation
28                    833     Generation X
29                    833           Silent
...                   ...              ...
27790                1964       Millenials
27791                1964     Generation X
27792                1964     Generation Z
27793                1964          Boomers
27794                1964           Silent
27795                1964     Generation Z
27796                2150     Generation X
27797                2150       Millenials
27798                2150       Millenials
27799                2150       Millenials
27800                2150          Boomers
27801                2150           Silent
27802                2150       Millenials
27803                2150     Generation X
27804                2150           Silent
27805                2150     Generation Z
27806                2150          Boomers
27807                2150     Generation Z
27808                2309     Generation X
27809                2309       Millenials
27810                2309       Millenials
27811                2309          Boomers
27812                2309       Millenials
27813                2309           Silent
27814                2309       Millenials
27815                2309     Generation X
27816                2309           Silent
27817                2309     Generation Z
27818                2309     Generation Z
27819                2309          Boomers

[27820 rows x 12 columns]>